h1 {
	color: red;
	text-align: center;
}
body {
	background-color: yellowgreen;
}
#answer {
	font-style: oblique;
	color: darkblue;
	font-size: x-large;
	margin-left: -450px;
}
form {
	margin-left: 500px;
}