h1 {
	color: red;
	text-align: center;
}
body {
	background-color: yellowgreen;
	background-image: url('../pics/abstract.jpg');
}
#answer {
	font-style: oblique;
	color: aliceblue;
	font-size: x-large;
	margin-left: -450px;
}
form {
	margin-left: 500px;
	line-height: 2em;
}
.formation p{
	color: aliceblue;
}
@media screen and (max-width: 480px){
	form{
		margin-left: 60px;
	}
	body{
		background-color: yellowgreen;
	}
}
legend{
	color: red;
	font-size: larger;
}
fieldset{
	width: 310px;
	margin-left: -60px;
	background-color: green;
	background-image: url('../pics/light.jpg');
}